In [1]:
import pandas as pd 
import numpy as np 
import requests
import os
import time
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [2]:
# Connect to PostgreSQL
engine = create_engine('postgresql://postgres:apple@localhost:5433/CryptoCurrency Price Predictions')

In [4]:
data = pd.read_csv('/Users/blairjdaniel/fintech_fraud/data/bitcoin_historical_data.csv')
data.head()

         date    price     open     high      low  volume. change_percent
0  08/17/2017  4,278.9  4,387.4  4,487.5  4,194.1  127.48K         -2.47%
1  08/16/2017  4,387.4  4,161.7  4,398.1  3,938.6  112.90K          5.42%
2  08/15/2017  4,161.7  4,327.9  4,436.5  3,837.1  211.58K         -3.84%
3  08/14/2017  4,327.9  4,062.6  4,336.7  3,978.9  128.46K          6.53%
4  08/13/2017  4,062.6  3,871.6  4,189.4  3,847.3  158.59K          4.93%

In [5]:
# Convert the "date" column from MM/DD/YYYY into YYYY-MM-DD format
data['date'] = pd.to_datetime(data['date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [6]:
# For every column except 'date', replace all commas.
for col in data.columns:
    if col != 'date':
        # Remove commas using str.replace if the column is of object type.
        # Then, attempt to convert the column to numeric if possible.
        if data[col].dtype == 'object':
            data[col] = data[col].str.replace(',', '', regex=False)
            # Attempt conversion to numeric; if it fails (returns NaN), the original values are retained.
            data[col] = pd.to_numeric(data[col], errors='ignore')

/var/folders/2m/_3np4g752dzdn21lzc5c7nsm0000gn/T/ipykernel_44966/610593839.py:9: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data[col] = pd.to_numeric(data[col], errors='ignore')

In [9]:
data.to_csv('/Users/blairjdaniel/fintech_fraud/data/btc_hist.csv', index=False)

In [8]:
data.head()

         date   price    open    high     low  volume. change_percent
0  2017-08-17  4278.9  4387.4  4487.5  4194.1  127.48K         -2.47%
1  2017-08-16  4387.4  4161.7  4398.1  3938.6  112.90K          5.42%
2  2017-08-15  4161.7  4327.9  4436.5  3837.1  211.58K         -3.84%
3  2017-08-14  4327.9  4062.6  4336.7  3978.9  128.46K          6.53%
4  2017-08-13  4062.6  3871.6  4189.4  3847.3  158.59K          4.93%